body {
	display: block;
	width: 950px;
	max-width: 100%;
	margin-left: auto;
	margin-right: auto; 
}

header {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	border-bottom: 2px solid #7d97ad;
	margin-bottom: 25px;
}

img {
	width: 100%;
}

.row-1-col-1 {
	width: 10%;
}

.row-1-col-2 {
	width: 90%;
	text-align: right;
}

.row-1-col-2 > h3 {
   margin-top: 0;
}

.row-1-col-2 > h1 {
	margin-bottom: 0;
	font-size: 54px;
    font-weight: 100;
}

* {
	font-family: "Lato", sans-serif;
}

.row-2, 
.row-2 > img {
	width: 100%;
}

.row-3 {
	width: 100%;
	margin-top: 25px;
    margin-bottom: 10px;
}

.row-3 > p {
    margin-bottom: 0px;
    font-family: "Cuprum", sans-serif;
    color: #7d97ad;
    font-weight: 100;
}

.row-4 > div h1, 
.row-4 > div h4,
.row-4 > div p,
.row-4-col-1 > figure,
.row-4-col-2 > figure,
.row-4-col-3 > figure {
   margin: 0;
}

.row-4 > div {
	 float: left;
	 margin-right: 15px;
	 width: calc(( 100% - 30px) / 3);
	 text-align: center;
}

.row-4 > div:last-of-type {
	margin-right: 0px;
} 

.row-4 > div img {
	width: 100%;
}

@media screen and (max-width: 750px) {
	.row-4 > div {
		width: 100%;
	}

	.row-1-col-2 > h1,
	 * {
		text-align: center;
		font-size: medium;
		width: 100%;
	}
}